/* Header */

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header .row img {
  width: 80px;
  height: 80px;

}

header h1 {
  font-weight: 700;
  margin: 0;
  font-size: 50px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header li {
  padding: 0 20px;
  margin: 0;
}

/* Body */

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  font-family: 'Bitter', 'Lato', 'Roboto';
}

li a, li a:visited:not(.active) {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
}

li a:hover:not(.active) {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.active, .active:hover {
  color: blue;
  text-decoration: none;
  font-weight: 900;
}

p {
  font-family: 'Lobster', 'Lato';
  font-size: 20px;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('Images/flag.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h1 {
  font-size: 100px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}


.col-sm-6 {
  margin: 0 0 30px;
}

.col-sm-12 h2 {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  font-family: 'Lobster', 'Lato';
  margin-bottom: 50px;
}

.col-sm-12 img {
  width: 50%;
  height: auto;
}

.col-sm-12 p {
  font-family: 'Lato';
  font-size: 23px;
}

/* Footer */

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

