/* Header */

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
  font-size: 50px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header li {
  padding: 0 20px;
  margin: 0;
}

/* Body */

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  font-family: 'Lato';
}

li a, li a:visited:not(.active) {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

li a:hover:not(.active) {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.active, .active:hover {
  color: blue;
  text-decoration: none;
  font-weight: 900;
}

p {
  font-family: 'Lato';
  font-size: 20px;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('images/Home/mainphoto2.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

/* Footer */

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}